/* https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Bebas Neue', cursive;
}

.carousel-inner{
    margin-top: 4rem;
}

.carousel-inner img{
    width: auto;
    height: 90vh;
    object-fit: cover;
}

.container-img{
    width: 100px;
}

.navbar{
    background-color: rgb(142, 202, 230);
    height: 4rem;
}

.navbar-brand{
    font-size: 2rem;
}

.rowcards{
    justify-content: center;
    width: 100%;
}

.cardcol img{
    width: auto;
    height: 30vh;
    object-fit: cover;   
}

.cards{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(142,202,230,0) 0%, rgba(0,212,255,1) 100%);
}