@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --celeste: rgb(142, 202, 230);
}

*{
    font-family: 'Bebas Neue', cursive;
}

.header{
    height: 10vh;
    background-color: var(--celeste);
}

.nav{
    display: inline-block;
}

.nav a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin: 1rem;
}

.form-container{
    height: 85vh;
    justify-content: center;
    display: flex;
}

.form{
    width: 475px;
    border-radius: 1rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.form input{
    width: 340px;
}

.form button{
    width: 200px;
}

.form-container{
    background-color: var(--celeste);
    height: 20vh;
}

.fondo{
    background-color: rgba(0,0,0,.1);
    height: 70vh;
}

@media only screen and (max-width: 530px) {

    .form{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        justify-content: start; 

    }

    .form input{
        width: 90vw;
    }

    .form button{
        width: 80vw;
    }

    
}